class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :lockbox_audits do |t|
      t.references :subject, polymorphic: true
      t.references :viewer, polymorphic: true
      t.text :info
      t.string :ip
      t.string :request_id
      t.datetime :created_at
    end
  end
end
