class <%= migration_class_name %> < ActiveRecord::Migration<%= migration_version %>
  def change
    create_table :lockbox_audits do |t|
      t.references :subject, polymorphic: true
      t.references :viewer, polymorphic: true
      t.<%= data_type %> :data
      t.string :context
      t.string :ip
      t.datetime :created_at
    end
  end
end
